<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {{ title or "PocketSmart AI" }}
    </title>

    <link
        rel="stylesheet"
        href="/static/css/style.css"
    >

</head>

<body>

<nav>

    <a
        class="brand"
        href="/"
    >
        PocketSmart AI
    </a>

    <div>

        <a href="/home">
            Home
        </a>

        <a href="/party">
            Party
        </a>

        <a href="/jewelry">
            Jewelry
        </a>

        <a href="/dashboard">
            Dashboard
        </a>

    </div>

</nav>


{% block content %}

{% endblock %}

</body>

</html>