{% extends "base.html" %}

{% block content %}

<main class="container">

    <div class="card form">

        <h1>
            Create Account
        </h1>


        <form
            id="auth-form"
            data-mode="register"
        >

            <div class="field">

                <label>
                    Name
                </label>

                <input
                    name="name"
                    required
                >

            </div>


            <div class="field">

                <label>
                    Email
                </label>

                <input
                    name="email"
                    type="email"
                    required
                >

            </div>


            <div class="field">

                <label>
                    Password
                </label>

                <input
                    name="password"
                    type="password"
                    minlength="8"
                    required
                >

            </div>


            <button
                class="btn"
                type="submit"
            >
                Register
            </button>

        </form>


        <p id="msg"></p>


        <p>

            Already registered?

            <a href="/login">
                Login
            </a>

        </p>

    </div>

</main>


<script src="/static/js/app.js"></script>

<script src="/static/js/auth.js"></script>

{% endblock %}